<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="Normacode.Accounting" version="1.0.4-alpha" targetFramework="net452" />
  <package id="Normacode.Command" version="1.0.2-alpha" targetFramework="net452" />
  <package id="Normacode.DDD" version="1.0.15-alpha" targetFramework="net452" />
  <package id="Normacode.Design" version="1.0.17-alpha" targetFramework="net452" />
  <package id="Normacode.Encapsulation" version="1.0.1-alpha" targetFramework="net452" />
  <package id="Normacode.HashCode" version="1.0.2-alpha" targetFramework="net452" />
  <package id="Normacode.InstanceProperty" version="1.0.2-alpha" targetFramework="net452" />
  <package id="Normacode.IO" version="1.0.11-alpha" targetFramework="net452" />
  <package id="Normacode.IO.WebDAV" version="1.0.13-alpha" targetFramework="net452" />
  <package id="Normacode.Patterns" version="1.0.4-alpha" targetFramework="net452" />
  <package id="Normacode.RSS" version="1.0.6-alpha" targetFramework="net452" />
  <package id="Normacode.Wpf.Controls" version="1.0.10-alpha" targetFramework="net452" />
  <package id="Normacode.Wpf.Converters" version="1.0.6-alpha" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0-preview1-26216-02" targetFramework="net452" />
  <package id="WebDav.Client" version="2.1.0" targetFramework="net452" />
</packages>