<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="Normacode.DDD" version="1.0.15-alpha" targetFramework="net452" />
  <package id="Normacode.HashCode" version="1.0.2-alpha" targetFramework="net452" />
  <package id="Normacode.IO" version="1.0.11-alpha" targetFramework="net452" />
  <package id="Normacode.Patterns" version="1.0.4-alpha" targetFramework="net452" />
  <package id="Normacode.RSS" version="1.0.6-alpha" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0-preview1-26216-02" targetFramework="net452" />
</packages>